#cities-block {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 47%;
    justify-content: center;
    z-index: 11;
    background-color: #fff;
    padding: 6px 15px;
}

.city {
    text-align: center;
    margin: 10px;
    color: #666666;
    transition: all 300ms;
    cursor: pointer;
}

.city:hover {
    color: black;
}